<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading text-center">Game room</div>
		<div class="list-group">
			<a *ngFor="let player of players" class="list-group-item list-group-item-action text-center">{{player.name}}</a>
		</div>

	</div>
	<div class="row" *ngIf="startGame">
		<div class="col-md-3 col-md-offset-3">
			<span>Game Starts in <strong>{{counter}}</strong> second(s)</span>
		</div>
	</div>
	<div class="row" *ngIf="startGame">
		<div class="col-md-3 col-md-offset-3">
			<button type="button" class="btn btn-danger" (click)="onClickExitGameRoom()">Exit</button>
		</div>
	</div>
</div>